/* For tablets and below */
@media (max-width: 768px) {
    .bannersection h1 {
      font-size: 1.8rem;
      text-align: center;
    }
  
    .navbar {
      flex-direction: column;
    }
  }
  
  /* For mobile phones */
  @media (max-width: 576px) {
    .hero-text {
      padding: 1rem;
      font-size: 1.2rem;
    }
  
    .img-wrapper {
      width: 100%;
    }
  }
  